<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
<h2>File Upload</h2>
<form method="post" enctype="multipart/form-data" action="/upload">
    <input type="file" name="file" accept=".pdf">
    <button type="submit">Upload</button>
</form>
<p th:if="${error}" style="color: #ff0000" th:text="${error}"></p>
</body>
</html>
